@mixin essential {
  height: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.Login {
  @include essential;
}

.LoginContainer {
  width: 350px;
  height: 380px;
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .logo {
    position: relative;
    top: 5%;
    font-family: 'Lobster', cursive;
    h1 {
      font-family: 'Lobster';
      font-size: 40px;
      font-weight: lighter;
      margin-bottom: 60px;
    }
  }

  .buttonContainer {
    height: 200px;
    .btn {
      width: 250px;
      height: 35px;
      margin-bottom: 5px;
      background-color: #fafafa;
      border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
      border-radius: 3px;
      font-size: 12px;
      text-indent: 10px;
    }
    input::placeholder {
      color: #959595dc;
    }

    .logInButton {
      display: block;
      line-height: 30px;
      width: 250px;
      height: 30px;
      margin: 10px auto 0 auto;
      background-color: #c0dffd;
      border: none;
      border-radius: 3px;
      color: white;
      font-weight: bolder;
      text-decoration: none;

      &:visited {
        color: white;
      }
    }
  }
  .forGotPassword {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 250px;
    button {
      background-color: #fafafa;
      border: none;
      color: #0095f6;
      font-size: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
