* {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .login {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 378px;
    border: 2px solid #f1f1f1;
    .logo {
      margin-top: 30px;
      margin-bottom: 25px;
      height: 51px;
      width: 175px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 260px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    .username {
      margin: 2.5px 40px;
      height: 38px;
      background-color: #f8f9f9;
    }
    .password {
      margin: 2.5px 40px;
      height: 38px;
      background-color: #f8f9f9;
    }
    .login-button {
      padding: 7px;
      margin: 10px 40px;
      color: #f1f1f1;
      font-weight: 600;
      background-color: rgba(56, 151, 240, 0.3);
    }
  }
  .search-password-button {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 17px;
    text-decoration: none;
    outline: none;
  }
  .login-button-active {
    cursor: pointer;
    padding: 7px;
    margin: 10px 40px;
    color: #f1f1f1;
    font-weight: 600;
    background-color: #3897f0;
  }
}
